In [71]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
import warnings

In [72]:
warnings.filterwarnings('ignore')

In [73]:
#Load and read dataset 
df = pd.read_csv('Melbourne_housing_FULL.txt')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [74]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [75]:
df.shape

(34857, 21)

In [77]:
useful_cols = ['Suburb','Propertycount', 'Rooms', 'Type', 'Method',
               'SellerG', 'Regionname','CouncilArea', 'Bedroom2','Distance','Bathroom','Car','Landsize' ,'BuildingArea', 'Price']

df = df[useful_cols]

In [78]:
df.head()

,Suburb,Propertycount,Rooms,Type,Method,SellerG,Regionname,CouncilArea,Bedroom2,Distance,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,4019.0,2,h,SS,Jellis,Northern Metropolitan,Yarra City Council,2.0,2.5,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,4019.0,2,h,S,Biggin,Northern Metropolitan,Yarra City Council,2.0,2.5,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,4019.0,2,h,S,Biggin,Northern Metropolitan,Yarra City Council,2.0,2.5,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,4019.0,3,u,VB,Rounds,Northern Metropolitan,Yarra City Council,3.0,2.5,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,4019.0,3,h,SP,Biggin,Northern Metropolitan,Yarra City Council,3.0,2.5,2.0,0.0,134.0,150.0,1465000.0

In [79]:
df.shape

(34857, 15)

In [80]:
df.isna().sum()

Suburb               0
Propertycount        3
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
CouncilArea          3
Bedroom2          8217
Distance             1
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [81]:
cols_to_fill_zero = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']

In [82]:
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)

In [83]:
df.head()

,Suburb,Propertycount,Rooms,Type,Method,SellerG,Regionname,CouncilArea,Bedroom2,Distance,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,4019.0,2,h,SS,Jellis,Northern Metropolitan,Yarra City Council,2.0,2.5,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,4019.0,2,h,S,Biggin,Northern Metropolitan,Yarra City Council,2.0,2.5,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,4019.0,2,h,S,Biggin,Northern Metropolitan,Yarra City Council,2.0,2.5,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,4019.0,3,u,VB,Rounds,Northern Metropolitan,Yarra City Council,3.0,2.5,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,4019.0,3,h,SP,Biggin,Northern Metropolitan,Yarra City Council,3.0,2.5,2.0,0.0,134.0,150.0,1465000.0

In [84]:
df.isna().sum()

Suburb               0
Propertycount        0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
CouncilArea          3
Bedroom2             0
Distance             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [85]:
df['Landsize'] = df['Landsize'].fillna(df.Landsize.mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df.BuildingArea.mean())

In [86]:
df.isna().sum()

Suburb              0
Propertycount       0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
CouncilArea         3
Bedroom2            0
Distance            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [88]:
df.dropna(inplace=True)
df.head()

,Suburb,Propertycount,Rooms,Type,Method,SellerG,Regionname,CouncilArea,Bedroom2,Distance,Bathroom,Car,Landsize,BuildingArea,Price
1,Abbotsford,4019.0,2,h,S,Biggin,Northern Metropolitan,Yarra City Council,2.0,2.5,1.0,1.0,202.0,160.2564,1480000.0
2,Abbotsford,4019.0,2,h,S,Biggin,Northern Metropolitan,Yarra City Council,2.0,2.5,1.0,0.0,156.0,79.0000,1035000.0
4,Abbotsford,4019.0,3,h,SP,Biggin,Northern Metropolitan,Yarra City Council,3.0,2.5,2.0,0.0,134.0,150.0000,1465000.0
5,Abbotsford,4019.0,3,h,PI,Biggin,Northern Metropolitan,Yarra City Council,3.0,2.5,2.0,1.0,94.0,160.2564,850000.0
6,Abbotsford,4019.0,4,h,VB,Nelson,Northern Metropolitan,Yarra City Council,3.0,2.5,1.0,2.0,120.0,142.0000,1600000.0

In [89]:
df.isna().sum()

Suburb           0
Propertycount    0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
CouncilArea      0
Bedroom2         0
Distance         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [90]:
df = pd.get_dummies(df, drop_first=True)
df.head()

,Propertycount,Rooms,Bedroom2,Distance,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,4019.0,2,2.0,2.5,1.0,1.0,202.0,160.2564,1480000.0,0,...,0,0,0,0,0,0,0,0,1,0
2,4019.0,2,2.0,2.5,1.0,0.0,156.0,79.0000,1035000.0,0,...,0,0,0,0,0,0,0,0,1,0
4,4019.0,3,3.0,2.5,2.0,0.0,134.0,150.0000,1465000.0,0,...,0,0,0,0,0,0,0,0,1,0
5,4019.0,3,3.0,2.5,2.0,1.0,94.0,160.2564,850000.0,0,...,0,0,0,0,0,0,0,0,1,0
6,4019.0,4,3.0,2.5,1.0,2.0,120.0,142.0000,1600000.0,0,...,0,0,0,0,0,0,0,0,1,0

In [91]:
X = df.drop('Price', axis = 1)

In [92]:
X

,Propertycount,Rooms,Bedroom2,Distance,Bathroom,Car,Landsize,BuildingArea,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,4019.0,2,2.0,2.5,1.0,1.0,202.000000,160.2564,0,0,...,0,0,0,0,0,0,0,0,1,0
2,4019.0,2,2.0,2.5,1.0,0.0,156.000000,79.0000,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4019.0,3,3.0,2.5,2.0,0.0,134.000000,150.0000,0,0,...,0,0,0,0,0,0,0,0,1,0
5,4019.0,3,3.0,2.5,2.0,1.0,94.000000,160.2564,0,0,...,0,0,0,0,0,0,0,0,1,0
6,4019.0,4,3.0,2.5,1.0,2.0,120.000000,142.0000,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,6543.0,4,4.0,6.3,1.0,3.0,593.000000,160.2564,0,0,...,0,0,0,0,0,0,0,0,0,0
34853,6543.0,2,2.0,6.3,2.0,1.0,98.000000,104.0000,0,0,...,0,0,0,0,0,0,0,0,0,0
34854,6543.0,2,2.0,6.3,1.0,2.0,220.000000,120.0000,0,0,...,0,0,0,0,0,0,0,0,0,0
34855,6543.0,3,0.0,6.3,0.0,0.0,593.598993,160.2564,0,0,...,0,0,0,0,0,0,0,0,0,0
34856,6543.0,2,2.0,6.3,1.0,0.0,250.000000,103.0000,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
y = df['Price']

In [97]:
y.head()

1    1480000.0
2    1035000.0
4    1465000.0
5     850000.0
6    1600000.0
Name: Price, dtype: float64

In [99]:
len(X)

27244

In [100]:
len(y)

27244

In [98]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state = 42)

In [101]:
len(X_train)

19070

In [102]:
len(X_test)

8174

In [103]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(X_train, y_train)

In [104]:
model.score(X_test, y_test)

0.6710114344333062

In [105]:
model.score(X_train, y_train)

0.6746078592844227

#### L1 Regularization

In [113]:
from sklearn import linear_model

lasso_reg = linear_model.Lasso(alpha=50, max_iter= 100, tol =.1)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [114]:
lasso_reg.score(X_test, y_test)

0.6798717238747651

In [115]:
lasso_reg.score(X_train, y_train)

0.6702737310950282

#### L2 Regularization

In [116]:
from sklearn.linear_model import Ridge

In [118]:
ridge_reg = Ridge(alpha=50, max_iter= 100, tol =.1)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [119]:
ridge_reg.score(X_test, y_test)

0.6718534090692831

In [120]:
ridge_reg.score(X_train, y_train)

0.6568699146148919